*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::selection{
    background-color: #c8a3e3;
    color: black;

}
body {
    background-image: url('image/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 500px; */
    /* margin-top: 5%; */
}
.main{
    /* width: 35rem; */
    height: 40rem;
    position: relative;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    max-width: 400px;
    /* width: 25%; */
    margin: 8px auto;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    justify-content: center;
    text-align: center;
    /* display: grid; */
    place-items: center;
}

.top .header{
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.582);
    margin: 22px;
    line-height: 2rem;
    color: white;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.top .image{
    /* height: 250px;
    width: 250px; */
    height: 300px;
    width: 300px;
    margin: auto;
}

.top .image img{
    width: 100%;
    height: 100%;
    border-radius: 250px;
    object-fit:cover;
    box-shadow: 0px 0px 40px 4px rgb(0, 0, 0); 
}

.bottom{
    background-color: rgb(255, 255, 255);
    /* margin: 20px 0px 0px 0px; */
    box-shadow: 0px 0px 40px 40px rgb(255, 255, 255); 
    margin: 22px;
}
.footer{
    line-height: 2rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.582);
}
.bottom .controls{
    /* width: 15rem; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 0.3rem;
    align-items: center;
}
.bottom .controls .fas{
    font-size: 20px;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgb(0, 0, 0));
}
.bottom .controls .fas:hover{
    color: gray;
}
.bottom .controls .center{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom .controls .center:hover{
    background-color: white;
    color: black;
    box-shadow: 0rem 0.5rem 2rem 0.1rem black;
}
.bottom .controls title{
    color: white;
    background-color: black;
}
.anime{
    animation: rotatePlayer 5s linear infinite ;
}
@keyframes rotatePlayer{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/*progress style */

.progressbar{
    width: 100%;
    height: auto;
    padding: 1rem 0;
}
.progress_div{
    width: 100%;
    height: 0.3rem;
    box-shadow: 0 1px 2px rgba(0, 0,0,0.07),0 2px 4px rgba(0, 0,0,0.07),0 16px 32px rgba(0, 0,0,0.07),0 8px 16px rgba(0, 0,0,0.07),0 16px 32px rgba(0, 0,0,0.07),0 32px 64px rgba(0, 0,0,0.07);
    border-radius: 4rem;
    position: relative;
    /* margin-top: 0.5rem; */
    transition: all 1s linear;
    -webkit-transition:all 1s linear ;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
.progress{
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: black;
    border-radius: 4rem;
    /* margin-top: 0.5rem; */
    transition: width 1s linear;
    -webkit-transition: width 1s linear ;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
.progress_duration{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;

}

